.root {
    display: flex;
    flex-direction: column;
}

.cell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.row:nth-child(even) > .cell:nth-child(even),
.row:nth-child(odd) > .cell:nth-child(odd) {
    background-color: khaki;
    color: green;
}

.row:nth-child(even) > .cell:nth-child(odd),
.row:nth-child(odd) > .cell:nth-child(even) {
    background-color: green;
    color: khaki;
}

.row {
    display: flex;
}

.pieces {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.piece {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

.piece:hover {
    background-color: black;
    color: white;
}